<head>
            	    <script src="../../Script/jquery-1.4.3.min.js" ></script>
	<script>


	    !window.jQuery && document.write('<script src="../../Script/jquery-1.4.3.min.js")" ><\/script>');
	</script>
	
	<link rel="stylesheet" type="text/css" href="../../Content/jquery.fancybox-1.3.4.css"  media="screen" />
	<script type="text/javascript" src="../../Script/jquery.fancybox-1.3.4.pack.js"></script>
	
 	
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			*   Examples - images
			*/

			$("a#example4").fancybox();

			

			

		});
	</script>
</head>
<body>
<div id="content">
		<a id="example4" href="../../images/4_b.jpg"><img class="last" alt="example4" src="../../images/4_s.jpg" /></a>
	</div>
    </body>

