@model IEnumerable<project_mango_.Models.property>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/mylayout.cshtml";
}

<div class="right" >
    @Html.ActionLink("view all data", "viewall");
    </div>
     <!-- First Tab Content -->
          <div   class="tab-content" style="display:block;">
            <div class="items">
              <div class="cl">&nbsp;</div>
              <ul>
                <li>
                  <div class="image"> <a href="#"><img src="../images/pro.jpg" href="../images/pro.jpg" alt="" /></a> </div>
                  <br><p> contact NO: <span>0333*******</span>
                   </li>
                <li>
                  <div class="image"> <a href="#"><img src="../images/homes.jpg" href="../images/homes.jpg" alt="" /></a> </div>
                  <br><p> contact NO: <span>0333*******</span>
                      </li>
                <li>
                  <div class="image"> <a href="#"><img width="100px" height="100px" href="../images/luxhome.jpg" src="../images/luxhome.jpg" alt="" /></a> </div>
                 <br><p> contact NO: <span>0333*******</span>
                     </li>
                  
                <li>
                  <div class="image"> <a href="#"><img href="../images/pro.jpg"  src="../images/pro.jpg" alt="" /></a> </div>
                  <br><p> contact NO: <span>0333*******</span>
                   </li>
                <li>
                  <div class="image"> <a href="#"><img src="../images/luxhome.jpg" href="../images/luxhome.jpg" alt="" /></a> </div>
                  <br><p> contact NO: <span>0333*******</span>
                      </li>
                <li>
                  <div class="image"> <a href="#"><img width="100px" height="100px" href="../images/ext_01.jpg"  src="../images/ext_01.jpg" alt="" /></a> </div>
                 <br><p> contact NO: <span>0333*******</span>
                     </li>
              </ul>
              <div class="cl">&nbsp;</div>
            </div>
          </div>
          <!-- End First Tab Content -->
        
        