@{
    ViewBag.Title = "post";
    Layout = null;
}
<link href="~/Content/MYCSS.CSS" rel="stylesheet" />
<body background="../images/3.png">
    <form action="/property/addpost">

    <input type="submit" value="add property" >
        </form>

    <form action="/car/ADD_POST">

    <input type="submit" value="add car" >
        </form>
    <form action="/laptop/addpost">

    <input type="submit" value="add laptop">
        </form>
    <form action="/mobile/addpost">

    <input type="submit" value="add mobile" >
        </form>
    <form action="/pet/addpost">

    <input type="submit" value="add pet" >
        </form>
    </body>

