
@{
    ViewBag.Title = "save";
    Layout = null;
}

<h2>save</h2>
                           <form action="/pet/save" method="post" enctype="multipart/form-data" >

                      Upload Image: <input type="file" name="images" />
 
     
 
                    <input type="submit" value="upload" />
            </form>
         